body{

    font-size: 20px;
    width: 100vw;
    height: auto;
    background-color: #32407B;
    overflow-x: hidden;

}
.nombre{
    margin-left: 1rem;
    padding: 0;
}



nav {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    background-color: #151965;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1); 
    color: white;
    padding: auto;
  }

  nav ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    margin-right: 3rem;
    
    
    
  }
  a{
    color: azure;
  }

  .container{
    position: relative;
    display: flex;
    width: 80vw;
    height: 90vh;
    margin: auto;
    background-color:#32407B ;
    
    justify-content: space-between;
  }
  
  
    
   .intro {
    width: 30rem;
    padding: 1rem;
    border-radius: 10px;
    background-color: #083f4d;
    align-self: center;
    border-style: inset;
    justify-self: left;
    color: aliceblue;

   }

   img{
    height: 300px;
    width: 400px;
    align-self: center;
    border-radius: 30%;
    justify-self: right;
    border-color: #32407B;
   }
    
    footer{
    background-color: #151965;
    z-index: 1;
    display: flex;
    color: aliceblue;
    
    
  }
  footer  img {
    width: 50px;
    height: 50px;
    
  }